/*MAPS*/

$mapRedes:(facebook:red, instagram:blue, twitter:yellow);

@each $redSocial, $colorRedSocial in $mapRedes {
    .#{$redSocial} {
        color: $colorRedSocial;
    }
}

/*MAP-GET*/

$estilo:(color:red,tamFuente:30px);

.pepeLePu {
    background-color: map-get($estilo,color);
    font-size: map-get($estilo,tamFuente);
    height: 150px;
    width: 150px;
}


