/*LOS MIXIN PUEDEN SER CON PARAMETROS O SIN PARAMETROS*/

/*MIXIN SIN PARAMETROS*/

@mixin parrafos {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    text-align: center;
}

.parrafosConEstilo {
    @include parrafos;
}

/*MIXIN CON PARAMETROS*/

@mixin parrafoConParametros($size,$alineacion){
    font-size: $size;
    text-align: $alineacion;
}

.parrafosConHambre {
    @include parrafoConParametros(50px, right);
}

